<html>
  <head>
    <meta name="layout" content="main">
  </head>
  <body>
    <h2>Administração</h2>
	<g:javascript src="jquery.meiomask.js"/>
	<g:javascript src="administracao/administracao.js"/>    
    <g:render template="form"/>
  </body>
</html>