
<%@ page import="cadastros.Folha" %>
<!doctype html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'folha.label', default: 'Folha')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-folha" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-folha" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list folha">
			
				<g:if test="${folhaInstance?.dscFol}">
				<li class="fieldcontain">
					<span id="dscFol-label" class="property-label"><g:message code="folha.dscFol.label" default="Dsc Fol" /></span>
					
						<span class="property-value" aria-labelledby="dscFol-label"><g:fieldValue bean="${folhaInstance}" field="dscFol"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${folhaInstance?.nomArq}">
				<li class="fieldcontain">
					<span id="nomArq-label" class="property-label"><g:message code="folha.nomArq.label" default="Nom Arq" /></span>
					
						<span class="property-value" aria-labelledby="nomArq-label"><g:fieldValue bean="${folhaInstance}" field="nomArq"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${folhaInstance?.email}">
				<li class="fieldcontain">
					<span id="email-label" class="property-label"><g:message code="folha.email.label" default="Email" /></span>
					
						<span class="property-value" aria-labelledby="email-label"><g:fieldValue bean="${folhaInstance}" field="email"/></span>
					
				</li>
				</g:if>
			

			
				<g:if test="${folhaInstance?.filial}">
				<li class="fieldcontain">
					<span id="filial-label" class="property-label"><g:message code="folha.filial.label" default="Filial" /></span>
					
						<span class="property-value" aria-labelledby="filial-label"><g:link controller="filial" action="show" id="${folhaInstance?.filial?.id}">${folhaInstance?.filial?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form>
				<fieldset class="buttons">
					<g:hiddenField name="id" value="${folhaInstance?.id}" />
					<g:link class="edit" action="edit" id="${folhaInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
