<html>
  <head>
    <meta name="layout" content="main">
  </head>
  <body>
	<g:javascript src="jquery.meiomask.js"/>
	<g:javascript src="jquery.meiomask.js"/>
	<g:javascript src="funcionario/funcionario.js"/>
	<g:javascript src="comum/lov.js"/>
	<div class="titulo">
    	<h3><g:message code="default.edit.label" args="['Funcionario']" /></h3>
    </div>
    <g:render template="form"/>
  </body>
</html>