

	<g:if test="${flash.message}">
		<div class="alert alert-info">${flash.message}</div>
	</g:if>

	<g:hasErrors bean="${cidInstance}">
		<div class="alert alert-error">
			<ul class="errors" role="alert">
				<g:eachError bean="${cidInstance}" var="error">
					<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
		</div>
	</g:hasErrors>

	<g:if test="${cidInstance.id}">
		<form action="${request.contextPath}/cid/update" class="well form-horizontal" method="POST">
			<g:hiddenField name="id" value="${cidInstance?.id}" />
			<g:hiddenField name="version" value="${cidInstance?.version}" />
	</g:if>
	<g:else>
		<form action="${request.contextPath}/cid/save" class="well form-horizontal" method="POST">
	</g:else>	
		<fieldset>

			<div class="control-group">
				<label class="control-label">Cod Cid:</label>
				<div class="controls">
					<g:textField name="codCid" maxlength="10" required="" value="${cidInstance?.codCid}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Dsc Cid:</label>
				<div class="controls">
					<g:textArea name="dscCid" cols="40" rows="5" maxlength="512" required="" value="${cidInstance?.dscCid}"/>
				</div>
			</div>

		</fieldset>
		<hr>
		<g:submitButton name="salvar" class="btn btn-large btn-primary" value="${message(code: 'default.button.save.label')}" />
		<g:link action="list" class="btn btn-large"><g:message code="default.button.return.label" /></g:link>
	</form>