<g:form>

	<script type="text/javascript">
	$j(document).keypress(
		function(e){
			if (e.keyCode==10 || e.keyCode == 13) {
				e.preventDefault();
			}
		}
	)
	</script>


    <label>Buscar por:</label>
    <g:textField name="dscBusca" maxlength="60"/>
    <input type="button" value="Buscar" onClick="buscarLovResultadoOcorrencia();" style="width: 120px;">
    <br>
    <div id="resultadoBusca" >
    </div>
</g:form>