
<%@ page import="cadastros.Setor" %>
<!doctype html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'setor.label', default: 'Setor')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-setor" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="list"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-setor" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list setor">
			
				<g:if test="${setorInstance?.dscSetor}">
				<li class="fieldcontain">
					<span id="dscSetor-label" class="property-label"><g:message code="setor.dscSetor.label" default="Dsc Setor" /></span>
					
						<span class="property-value" aria-labelledby="dscSetor-label"><g:fieldValue bean="${setorInstance}" field="dscSetor"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${setorInstance?.aplSetor}">
				<li class="fieldcontain">
					<span id="aplSetor-label" class="property-label"><g:message code="setor.aplSetor.label" default="Apl Setor" /></span>
					
						<span class="property-value" aria-labelledby="aplSetor-label"><g:fieldValue bean="${setorInstance}" field="aplSetor"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${setorInstance?.filial}">
				<li class="fieldcontain">
					<span id="filial-label" class="property-label"><g:message code="setor.filial.label" default="Filial" /></span>
					
						<span class="property-value" aria-labelledby="filial-label"><g:link controller="filial" action="show" id="${setorInstance?.filial?.id}">${setorInstance?.filial?.encodeAsHTML()}</g:link></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form>
				<fieldset class="buttons">
					<g:hiddenField name="id" value="${setorInstance?.id}" />
					<g:link class="edit" action="edit" id="${setorInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
