

	<g:if test="${flash.message}">
		<div class="alert alert-info">${flash.message}</div>
	</g:if>

	<g:hasErrors bean="${adcNoturnoInstance}">
		<div class="alert alert-error">
			<ul class="errors" role="alert">
				<g:eachError bean="${adcNoturnoInstance}" var="error">
					<li <g:if test="${error in org.springframework.validation.FieldError}">data-field-id="${error.field}"</g:if>><g:message error="${error}"/></li>
				</g:eachError>
			</ul>
		</div>
	</g:hasErrors>

	<g:if test="${adcNoturnoInstance.id}">
		<form action="${request.contextPath}/adcnoturno/update" class="well form-horizontal" method="POST">
			<g:hiddenField name="id" value="${adcNoturnoInstance?.id}" />
			<g:hiddenField name="version" value="${adcNoturnoInstance?.version}" />
	</g:if>
	<g:else>
		<form action="${request.contextPath}/adcnoturno/save" class="well form-horizontal" method="POST">
	</g:else>	
		<fieldset>

			<div class="control-group">
				<label class="control-label">Dsc Adc:</label>
				<div class="controls">
					<g:textField name="dscAdc" maxlength="20" required="" value="${adcNoturnoInstance?.dscAdc}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Hr Inicio:</label>
				<div class="controls">
					<g:textField name="hrInicio" required="" value="${fieldValue(bean: adcNoturnoInstance, field: 'hrInicio')}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Hr Fim:</label>
				<div class="controls">
					<g:textField name="hrFim" required="" value="${fieldValue(bean: adcNoturnoInstance, field: 'hrFim')}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Min Tol:</label>
				<div class="controls">
					<g:textField name="minTol" required="" value="${fieldValue(bean: adcNoturnoInstance, field: 'minTol')}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Ocorrencias:</label>
				<div class="controls">
					<g:select id="ocorrencias" name="ocorrencias.id" from="${cadastros.Ocorrencias.list()}" optionKey="id" required="" value="${adcNoturnoInstance?.ocorrencias?.id}" class="many-to-one"/>
				</div>
			</div>

		</fieldset>
		<hr>
		<g:submitButton name="salvar" class="btn btn-large btn-primary" value="${message(code: 'default.button.save.label')}" />
		<g:link action="list" class="btn btn-large"><g:message code="default.button.return.label" /></g:link>
	</form>