<!doctype html>
<html>
	<head><meta name="layout" content="main"/></head>
	<body>
	
		<g:if test="${flash.message}">
	    	<div class="alert alert-info" role="status">${flash.message}</div>
	    </g:if>
		    
		    
	</body>
</html>
